* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    height: 100vh;
    background-color: #f30f9c;
    overflow: hidden;
}
#top-head {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    position: absolute;
    justify-content: end;
}
#top-head #box-menu {
    height: 60px;
    margin-right: 20px;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    cursor: pointer;
}
#top-head #box-menu i {
    color: rgb(250, 234, 5);
    font-size: 38px;
    transition: all 1s;  
    z-index: 99; 
}

/** MENU POP UP **/

#menu-up {
    background-color: rgb(250, 234, 5);
    width: 100%;
    height: 280px;
    position: relative;
    margin: auto;
    border-bottom: 5px solid #00adfd;
    z-index: 98;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.4s ease-in-out;

}

/* quando è aperto */
#menu-up.open {
    max-height: 280px; /* aumenta se il menu è più alto */
}
#menu-up ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}
#menu-up ul li {
    margin: 15px 0;
    font-size: 24px;
    font-weight: bold;
    width: 40%;
    height: 60px;
    display: flex;
    margin: 15px;
    align-items: center;
    justify-content: center;
    border-radius: 8px
}
#menu-up ul li a {
    text-decoration: none;
    color: white;
    font-family: sans-serif;
    font-size: 18px;
}

#overlay-box {
    width: 100%;
    height: 100vh;
    position: relative;
}
#overlay-box img {
    position: absolute;
    display: inline-block;       /* utile se è un div o immagine */

}
#overlay {
    width: 100%;
    top: 120px;
    z-index: 1;
}
#overlay1 {
    width: 80px;
    top: 120px;
    left: 10px;
    animation: floatAnim1 3s ease-in-out infinite;
}
#overlay2 {
    width: 80px;
    bottom: 10px;
    left: 130px;
    animation: floatAnim2 2s ease-in-out infinite;
}
#overlay3 {
    width: 80px;
    top: 422px;
    left: 100px;
    animation: floatAnim2 3s ease-in-out infinite;
    z-index: 2;
}
#overlay4 {
    width: 80px;
    bottom: 150px;
    right: 10px;
    animation: floatAnim1 2s ease-in-out infinite;
}
#overlay5 {
    width: 80px;
    top: 190px;
    right: 60px;
    animation: floatAnim1 2s ease-in-out infinite;
}
#overlay6 {
    width: 80px;
    top: 70%;
    left: -10%;
    animation: floatAnim2 3s ease-in-out infinite;
}

@keyframes floatAnim1 {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-10px)rotate(7deg); /* si alza di 7px */
    }
    100% {
        transform: translateY(0px);  /* torna alla posizione originale */
    }
}

@keyframes floatAnim2 {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-10px)rotate(-7deg); /* si alza di 7px */
    }
    100% {
        transform: translateY(0px);  /* torna alla posizione originale */
    }
}