/* =========================
   RESET
========================= */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* =========================
   BODY
========================= */
body {
    width: 100%;
    height: 100%;
    background-color: #f30f9c;
}

/* =========================
   TOP HEADER
========================= */
#top-head {
    width: 100%;
    height: 80px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: end;
}

#top-head #box-menu {
    height: 60px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}

#top-head #box-menu i {
    color: rgb(250, 234, 5);
    font-size: 38px;
    z-index: 99;
    transition: all 1s;
}

/* =========================
   MENU POP UP
========================= */
#menu-up {
    width: 100%;
    height: auto;
    margin: auto;
    position: relative;
    background-color: #00adfd;
    border-bottom: 5px solid #facc00;
    z-index: 98;
    overflow: hidden;
    max-height: 0;
    transition: all 0.4s ease-in-out;
}

/* Menu aperto */
#menu-up.open {
    max-height: 280px;
}

#menu-up ul {
    list-style: none;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#menu-up ul li {
    width: 100%;
    height: 60px;
    font-size: 24px;
    font-weight: bold;
}
#menu-up ul li:first-child {
    background-color: #facc00;
}

#menu-up ul li a {
    width: 100%;
    height: 50px;
    text-decoration: none;
    color: white;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 18px;
}

/* =========================
   OVERLAY BOX
========================= */
#overlay-box {
    width: 100%;
    height: 100vh;
    position: relative;
}

#overlay-box img {
    position: absolute;
    display: inline-block;
}

/* Overlay base */
#overlay {
    width: 100%;
    top: 120px;
    z-index: 1;
    
}

/* Overlay animati */
#overlay1 {
    width: 80px;
    top: 120px;
    left: 30px;
    animation: floatAnim1 3s ease-in-out infinite;
}

#overlay2 {
    width: 80px;
    bottom: 50px;
    left: 130px;
    z-index: 2;
    animation: floatAnim2 2s ease-in-out infinite;
}

#overlay3 {
    width: 80px;
    bottom: 300px;
    left: 100px;
    z-index: 2;
    animation: floatAnim2 3s ease-in-out infinite;
}

#overlay4 {
    width: 80px;
    bottom: 150px;
    right: 10px;
    animation: floatAnim1 2s ease-in-out infinite;
}

#overlay5 {
    width: 80px;
    top: 190px;
    right: 60px;
    animation: floatAnim1 2s ease-in-out infinite;
}

#overlay6 {
    width: 80px;
    top: 70%;
    left: -10%;
    animation: floatAnim2 3s ease-in-out infinite;
}

#overlay7 {
    width: 80px;
    top: -3%;
    left: 40%;
    animation: floatAnim2 3s ease-in-out infinite;
}

/* =========================
   UNDER BOX (FRECCE)
========================= */
#under-box {
    width: 100%;
    position: absolute;
    bottom: 30%;
    left: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
}

#under-box i {
    margin: -8px auto;
}

#under-box i:nth-child(1) {
    font-size: 2rem;
    color: rgb(241, 208, 19);
    animation: animated-down1 1s infinite ease;
}

#under-box i:nth-child(2) {
    font-size: 2rem;
    color: rgb(130, 213, 238);
    animation: animated-down2 1s infinite ease;
}

#under-box i:nth-child(3) {
    font-size: 2rem;
    color: rgb(130, 213, 238);
    animation: animated-down3 1s infinite ease;
}

/* =========================
   CONTAINER
========================= */
#container {
    width: 100%;
    height: 100vh;
    background-color: #facc00;
    border-top: 8px solid #00adfd;
    position: relative;
}

/* =========================
   ANIMAZIONI
========================= */
@keyframes floatAnim1 {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px) rotate(7deg);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes floatAnim2 {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px) rotate(-7deg);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes animated-down1 {
    0% {
        transform: scale(1.2);
        color: rgb(130, 213, 238);
    }
    50% {
        transform: scale(1.1);
        color: rgb(241, 208, 19);
    }
    100% {
        transform: scale(1.2);
        color: rgb(241, 208, 19);
    }
}

@keyframes animated-down2 {
    0% {
        transform: scale(1.1);
        color: rgb(241, 208, 19);
    }
    50% {
        transform: scale(1.2);
        color: rgb(130, 213, 238);
    }
    100% {
        transform: scale(1.1);
        color: rgb(241, 208, 19);
    }
}

@keyframes animated-down3 {
    0% {
        transform: scale(1.2);
        color: rgb(241, 208, 19);
    }
    50% {
        transform: scale(1.1);
        color: rgb(241, 208, 19);
    }
    100% {
        transform: scale(1.2);
        color: rgb(130, 213, 238);
    }
}
