* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
}

html {
    overflow: hidden;
}
body {
    max-width: 100%;
    max-height: 100vh;
    background-color: black;
    overflow : hidden;
    font-family: sans-serif;
}
#container {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-image: linear-gradient(45deg, #6e0606, #943636, #c1c278);
}
#h1-1 {
    font-family: "Bebas Neue", "Inter", sans-serif;
    font-size: clamp(7rem, 10vw, 8rem);
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #111;
    white-space: nowrap;
    pointer-events: none;
    position: absolute;
    top: 40px;
    left: 30px;
    transform: translateX(0);
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 100px;
}
#h1-1 span {
    color: aliceblue;
}
#h1-2 {
    font-size: 5rem;
    position: absolute;
    top: 40px;
    transform: translateX(-110%);
    left: 25px;
    font-family: "Bebas Neue", "Inter", sans-serif;
    font-size: clamp(7rem, 10vw, 8rem);
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #111;
    white-space: nowrap;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 100px;
}
#h1-2 span {
    color: aliceblue;
}
#rotate-container {
    position: relative;
    width: 300%;
    height: 100%;
    transform: rotate(0deg);
    will-change: transform;
    overflow: hidden;
    transform-origin: center;
    transition: all 1s;
}

img {
    width: 300px;
    z-index: 999;
    filter: drop-shadow(0px 0px 28px #00000086); /* Ombra alla sagoma dell'immagine */
    
}
#img1 {
    position: absolute;
    top: 100px;
    left: 50px;
    animation: floated 2s infinite ease-in-out;

}
#img2 {
    position: absolute;
    bottom: 90px;
    right: 50px;
    transform: rotate(180deg);
    animation: floated2 2s infinite ease-in-out;
}

#btn1 {
    width:auto;
    height: 50px;
    background-color: #640a0a63;
    position: absolute;
    top: 80%;
    left:20%;
    text-decoration: none;
    color: aliceblue;
    padding: 20px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 14PX;
    font-size: 1.2rem;
    transition: all 1s;
}
#btn1 i {
    margin: 0 10px;
}
#btn2 {
    width:auto;
    height: 50px;
    background-image: linear-gradient(45deg, #6e0606, #943636, #c1c278);
    position: absolute;
    top: 80%;
    left:20%;
    text-decoration: none;
    color: aliceblue;
    padding: 20px 20px;
    display: flex;
    align-items: center;
    transform: translateY(400%);
    justify-content: center;
    border-radius: 14px;
    font-size: 1.2rem;
    transition: all 1s;
}
#btn2 i {
    margin: 0 10px;
}
#frutto1 {
    
    position: absolute;
    width: 200px;
    top: 370px;
    z-index: 1;
    left: 30px;
    transform: translateX(-200%);
    transition: all 1s;
}
#frutto2 {
    position: absolute;
    width: 150px;
    top: 360px;
    z-index: 1;
    right: 50px;
    transform: translateX(0%) rotate(45deg);
    transition: all 1s;
}